.container2 {
    width:330px;
    height:330px;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:20px;
    transition:0.3s;
    background:linear-gradient(to bottom right,#FF0A6C,#5C27FE);}
    
    .container2 .wrapper {
    max-width:1500px;
    width:330px;
    height:250px;}
    
    .container2 .carousel {
    user-select:none;
    display:grid;
    grid-auto-flow:column;
    grid-template-columns:repeate(8,1fr);
    gap:10px;
    padding:10px;
    list-style:none;
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    scrollbar-width:0;}
    
    .container2 .carousel::-webkit-scrollbar {
    display:none;}
    
    .container2 .carousel :where(.card, .img) {
    display:flex;
    align-items:center;
    justify-content:center;}
    
    .container2 .card {
    position:relative;
    scroll-snap-align: center;
    height:200px;
    width:140px;
    background:#fff;
    flex-direction:column;
    border-radius:20px;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.06);}
    
    .container2 .card .img {
    background:linear-gradient(to bottom right,#FF0A6C,#5C27FE);
    width:83px;
    height:83px;
    border-radius:50%;
    transition:0.3s ease;}
    
    .container2 .card .img img {
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
    border:2px solid #fff;}
    
    .container2 .card h2 {
    font-weight:1000;
    font-size:13px;
    padding:10px 0px 8px 0px;}
    
    .container2 .card span {
    color:#6a6d78;
    font-size:10px;}
    
    .container2 .card .name {
    padding:5px 0 0 0;
    column-gap:5px;
    align-items:center;
    display:flex;}
    
    .container2 .indicator{
    position:relative;
    top:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;}
    
    .container2 .dot{
    width:12px;
    height:12px;
    border-radius:6px;
    background-color:white;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.03);
    opacity:0.5;
    transform:scale(0.8);
    transition:0.3s ease;}
    
    .container2 .dot.active{
    width:30px;
    transform:scale(1);
    opacity:1;}
    
