
.container7 {
font-family:"Montserrat Alternates", serif !important;
font-style:normal;
width:330px;
height:330px;
position:absolute;
display:flex;
align-items:center;
justify-content:center;
border-radius:20px;
background:#ffd4e4;
transition:0.3s;}

.container7 .MockUp {
position:absolute;
width:330px;
height:330px;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
transform: scale(1.1) translateY(10px);}

.container7 .MockUp img {
position:absolute;
height:330px;
width:auto;
object-fit:cover;}

.container7 .S {
position:absolute;
width:220px;
height:330px;
display:flex;
align-items:center;
justify-content:center;
clip-path:path("M99.7187 33.6205L24.0966 31.4599C16.5151 31.2433 11.2119 38.8899 14.0717 45.9147L98.5412 253.406C102.709 263.644 112.893 270.127 123.932 269.57L200.014 265.731C207.008 265.378 211.482 258.132 208.665 251.721L118.345 46.1642C115.081 38.7357 107.829 33.8523 99.7187 33.6205Z");}
               
.container7 .MockUp .screen {
position:absolute;
width:91.5px;
height:200px;
transform: translate(0.5px,-15px) rotate(-0.9deg) scale(1.2) skew(22deg,0deg);
transform-origin:center;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;}

.container7 .Container7 {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;}

.container7 #Background {
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:#ffd4e4;
overflow:hidden;
transition:0.3s;}

.container7 .Container7 img {
position:absolute;
top:0;
object-fit:cover;
opacity:0;
width:100%;
height:70%;
mask-image:linear-gradient(to bottom, black 0%, black 40%, transparent 90%);
-webkit-mask-image:linear-gradient(to bottom, black 0%, black 40%, transparent 90%);
transition:0.8s;}

.container7 .Container7 img.Active {
opacity:1;}

.container7 .wrapper {
position:absolute;
top:20%;
right:-112.5px;
width:225px;
height:225px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
-webkit-mask-image:linear-gradient(to left, black 0%, black 40%, transparent 50%);
mask-image:linear-gradient(to left, black 0%, black 40%, transparent 50%);
transform:rotate(180deg) scale(0.35);}

.container7 .carousel {
position:absolute;
width:200px;
height:200px;
animation:Rotate 30s linear forwards infinite;}

.container7 .C {
position:absolute;
width:200px;
height:200px;
border-radius:50%;
pointer-events:none;
transform:var(--i1);}

.container7 .wrapper section {
cursor:pointer;
pointer-events:auto;
position: absolute;
top:39px;
right:0;
height: 61px;
width:61px;
transition: 0.3s ;
background:var(--i2);
background-size:cover;
background-position:center;
clip-path:path("M35.3044 1.64962C36.5736 0.584621 38.4699 0.747688 39.4964 2.04828C51.3116 17.0188 58.6 35.0584 60.5003 54.0349C60.6654 55.6835 59.4146 57.1181 57.7618 57.2336L13.8689 60.3029C12.2161 60.4185 10.7918 59.1704 10.5774 57.5275C9.47491 49.0819 6.23239 41.0564 1.15863 34.2153C0.171631 32.8845 0.329193 30.9973 1.59842 29.9323L35.3044 1.64962Z");}

.container7 .wrapper section.active {
pointer-events:none;
top:36px;
right:-4px;
transform:scale(1.25);}

.container7 #Title1 {
width:100%;
font-size:0.55rem;
font-weight:1000;
color:#ff3884;
text-shadow:1px 2px 3px rgba(0,0,0,0.1);}

.container7 #Title2 {
width:100%;
font-size:0.53rem;
font-weight:1000;
color:#ff3884;
text-shadow:1px 2px 3px rgba(0,0,0,0.1);}

.container7 #Title {
width:100%;
position:absolute;
top:110px;
left:0;
margin:7px;}

.container7 #text {
width:50%;
position:absolute;
top:137px;
left:0;
margin:7px;
font-size:0.35rem;
font-weight:400;}

.container7 #W {
position:fixed;
top:0;
left:0;
height:100%;
width:100%;}

@keyframes Rotate {
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}}
