.containerB8 {
background:#F5F5F5;}

.containerB8 .Screen {
position:absolute;
top:-200px;
width:250px;
height:400px;
border-radius:35px;
background:white;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 5px 15px rgba(0,0,0,0.2);}

.containerB8 .navbar {
position:absolute;
bottom:-10px;
width:330px;
height:75px;
border-radius:10px;
transform:scale(0.758);
box-shadow:0 -8px 10px rgba(0,0,0,0.05);
background:white;
display:flex;
align-items:center;
justify-content:center;
pointer-events:none;}

.containerB8 .icons {
position:absolute;
top:0;
width:330px;
height:50px;
display:flex;
column-gap:15px;}

.containerB8 .icon.A {
--primary:#2D2355;
transition:0.3s ease-out;}

.containerB8 .icon.A.active {
--primary:#00C8FF;}

.containerB8 .Icons {
position:absolute;
width:235px;
height:45px;
display:flex;
column-gap:50px;}

.containerB8 .Icon {
position:relative;
display:none;
align-items:center;
justify-content:center;
transform:scale(1.2);}

.containerB8 .liquid {
width:250px;
height:120px;
display:flex;
align-items:center;
justify-content:center;
filter:url("#liquid");
clip-path:path('M113.5 60.4998C113.5 66.5748 118.489 71.4996 124.687 71.4996C130.885 71.4996 135.5 66.5748 135.5 60.4998C135.5 54.4248 130.885 49.5 124.687 49.5C118.489 49.5 113.5 54.4248 113.5 60.4998Z');}

.containerB8 .icon {
width:50px;
height:50px;}

.containerB8 .submenu {
position:absolute;
bottom:0;
width:60px;
height:60px;
border-radius:30px;
transform:scale(0.7);
box-shadow:0 8px 12px rgba(0,0,0,0.2);
background:#2D2355;
display:flex;
align-items:center;
justify-content:center;}

.containerB8 .circle {
position:absolute;
width:44px;
height:44px;
border-radius:22px;
background:white;
opacity:0;
transform:scale(0.5);}

.containerB8 .Shadow {
position:absolute;
bottom:17px;
width:40px;
height:12px;
border-radius:50%;
background:#D9D9D9;
opacity:0.3;
filter:blur(4px);}

.containerB8 .Button {
background:linear-gradient(to bottom,#00C8FF,#00F0FF);
clip-path:path("M22.3958 1.50352C24.0073 0.573137 25.9927 0.573137 27.6042 1.50352L44.0465 10.9965C45.6579 11.9269 46.6506 13.6463 46.6506 15.507V34.493C46.6506 36.3537 45.6579 38.0731 44.0465 39.0035L27.6042 48.4965C25.9927 49.4269 24.0073 49.4269 22.3958 48.4965L5.95353 39.0035C4.34207 38.0731 3.34937 36.3537 3.34937 34.493V15.507C3.34937 13.6463 4.34207 11.9269 5.95353 10.9965L22.3958 1.50352Z");}

.containerB8 .circle.active {
animation:Circle 0.8s;}

.containerB8 .Shadow.active {
animation:Shadow 0.7s;}

@keyframes X1 {
100%{bottom:60px;}}

@keyframes X2 {
50%{width:300px;}
100%{width:250px;}}

@keyframes X3 {
0%{bottom:60px;width:60px;}
100%{bottom:0;}}

@keyframes X4 {
0%{width:250px;bottom:60px;}
50%{width:300px;bottom:60px;}
100%{width:60px;bottom:60px;}}

@keyframes Button {
40%{transform:scale(0.7);}
100%{transform:rotate(-180deg);}}

@keyframes Button1 {
0%{transform:rotate(-180deg);}
40%{transform:scale(0.7) rotate(-180deg);}
100%{transform:rotate(0deg);}}

@keyframes Plus {
40%{transform:rotate(0);}
100%{transform:rotate(45deg);}}

@keyframes Plus1 {
0%{transform:rotate(45deg);}
40%{transform:rotate(45deg);}
100%{transform:rotate(0deg);}}

@keyframes Circle {
50%{transform:scale(1);opacity:0.1;}
100%{transform:scale(0.5);opacity:0;}}

@keyframes Shadow {
40%{transform:scale(0.7);}
100%{transform:scale(1);}}
