.containerB7 {
background:#E5C7FC;
--primary:#730BBA;
--secondary:#D9D9D9;}

.containerB7 * {
font-family:"Montserrat", sans-serif;
font-optical-sizing: auto;
font-style:normal;}

.containerB7 #BottomNavBar {
position:absolute;
height:110px;
width:320px;
display:flex;
justify-content:center;
pointer-events:none;
transform:scale(0.75);}

.containerB7 .background {
position:absolute;
bottom:0;
height:70px;
width:400px;
border-radius:35px;
box-shadow:0px 20px 20px rgba(0,0,0,0.05);}

.containerB7 #sides {
position:absolute;
bottom:0;
height:70px;
width:400px;}

.containerB7 .side {
position:absolute;
height:70px;
width:40px;
background:white;}

.containerB7 .left {
left:0;
border-radius:35px 0px 0px 35px;}

.containerB7 .right {
right:0;
border-radius:0px 40px 40px 0px;}

.containerB7 #Container {
position:absolute;
bottom:0;
width:330px;
height:100px;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;}

.containerB7 #container {
position:absolute;
bottom:0;
width:415px;
height:100px;
display:flex;
justify-content:center;
align-items:center;}

.containerB7 #indicator3 {
--i1:110px;
--i2:30px;
position:absolute;
bottom:0;
left:30px;
width:415px;
height:100px;
display:flex;
justify-content:center;
align-items:center;
transition:0.6s cubic-bezier(0,0,0,1);}

.containerB7 #background {
position:absolute;
bottom:0;
left:-552.5px;}

.containerB7 .icon {
height:50px;
width:50px;}

.containerB7 .icons {
position:absolute;
height:50px;
width:270px;
display:flex;
column-gap:60px;}

.containerB7 .icons.A {
bottom:20px;}

.containerB7 .icons.B {
bottom:-120px;}

.containerB7 .icons.C {
bottom:-120px;}

.containerB7 .icon.A:nth-child(1) {
position:relative;
bottom:-120px;}

.containerB7 .icon.A {
position:relative;
bottom:0;
transition:bottom 0.6s cubic-bezier(0,0,0,1), opacity 0s;}

.containerB7 .icon.B, .containerB7 .icon.C {
position:relative;
bottom:0;
transition:bottom 0.7s cubic-bezier(0,0,0,1), opacity 0s;}

.containerB7 #blur {
position:absolute;
bottom:-20px;
height:50px;
width:330px;
filter:blur(5px);
background-color:white;}

.containerB7 .ICONS {
position:absolute;
bottom:30px;
left:0;
height:80px;
width:135px;
display:flex;
justify-content:center;}

.containerB7 .ICON {
position:absolute;
bottom:-80px;
height:50px;
width:50px;
display:flex;
justify-content:center;
box-shadow:1px 2px 5px rgba(0,0,0,0.2);
border-radius:25px;
background-color:white;
transition:0.6s cubic-bezier(0,0,0,1) ;}

.containerB7 .ICON:nth-child(1) {
position:absolute;
bottom:18px;}

.containerB7 .clicks {
position:absolute;
bottom:20px;
height:50px;
width:270px;
display:flex;
column-gap:60px;}

.containerB7 .click {
height:50px;
width:50px;
display:flex;
justify-content:center;}

.containerB7 .text {
position:absolute;
bottom:0;
font-size:0.6rem;
color:#D9D9D9;
transition:0.6s;}

.containerB7 .text.active {
transform:scale(1.2);
color:#730BBA;}
