
.container10 {
    width:330px;
    height:330px;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:20px;
    transition:0.3s;
    background-size:cover;
    background-position:center;}
    
    .container10 .ContainerZ{
    position:absolute;
    width:330px;
    height:330px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    -webkit-mask-image: linear-gradient(to right, black 0%, black 85%, transparent 100%);}
    
    .container10 .slider{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100vw;
    list-style:none;
    transform:scale(0.75);}
    
    .container10 .slides:nth-child(1){
    transform: translateX(-40px);
    width:170px;
    height:250px;
    filter:brightness(20%);}
    
    .container10 .slides:nth-child(2){
    transform: translateX(-60px);
    width:190px;
    height:270px;
    filter:brightness(40%);}
    
    .container10 .slides:nth-child(3){
    transform: translateX(-40px);
    width:210px;
    height:290px;
    filter:brightness(60%);}
    
    .container10 .slides:nth-child(4){
    transform: translateX(-20px);
    width:230px;
    height:320px;
    filter:brightness(80%);}
    
    .container10 .slides:nth-child(5){
    transform: translateX(0px);
    width:250px;
    height:350px;
    filter:brightness(100%);}
    
    .container10 .slides:nth-child(6), .container10 .slides:nth-child(7), .container10 .slides:nth-child(8), .container10 .slides:nth-child(9), .container10 .slides:nth-child(10), .container10 .slides:nth-child(11), .container10 .slides:nth-child(12){
    transform: translateX(100vw);
    width:270px;
    height:370px;
    filter:brightness(90%);}
    
    .container10 .slides{
    position: absolute;
    transition:0.5s;
    background-image:var(--img);
    background-size:cover;
    background-position:center;
    border-radius:10px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);}
    
    .container10 h3{
    font-size:20px;
    padding:15px;
    position: absolute;
    filter:blur(20px);
    text-shadow:2px 2px 2px rgba(0,0,0,0.3) ;
    opacity:0;
    left:0px;
    bottom:-10px;
    color:white;
    transition: all 0.5s 0.5s, opacity 0s;}
    
    .container10 .slides span{
    padding:15px;
    position: absolute;
    filter:blur(20px);
    font-size:15px;
    font-weight:250;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3) ;
    opacity:0;
    left:0px;
    bottom:-20px;
    color:white;
    transition: all 0.5s 0.5s, opacity 0s}
    
    .container10 .slides:nth-child(5) h3{
    filter:blur(0px);
    bottom:20px;
    opacity:1;}
    
    .container10 .slides:nth-child(5) span{
    filter:blur(0px);
    bottom:0px;
    opacity:1;}
    

    