    .container4 {
    background:linear-gradient(to bottom, #FFDDE1, #EE9CA7);}
    
    .container4 .wrapper {
    position:absolute;
    width:330px;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    pointer-events:none;}
    
    .container4 .carousel {
    position:absolute;
    left:0;
    width:672px;
    height:200px;
    padding:0 8px;
    display:flex;
    column-gap:8px;
    align-items:center;
    flex-wrap:nowrap;
    transition:0.4s;}

    .container4 .card {
    position:relative;
    height:200px;
    list-style:none;
    border:white solid 2px;
    border-radius:50px;
    width:60px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
    transition:0.4s cubic-bezier(0,0,0,1);
    background:var(--i);
    background-size:cover;
    background-position:center;}
    
    .container4 .card h2 {
    user-select:none;
    font-weight:600;
    font-size:13px;
    width:200px;
    position:absolute;
    padding:10px;
    bottom:-10px;
    left:0;
    opacity:0;
    color:white;
    font-family:"Montserrat Alternates", serif;
    font-style:normal;
    text-shadow:2px 2px 2px rgba(0,0,0,0.4);
    transition:0.4s cubic-bezier(0.5,0,0.5,1) ,bottom 0.4s cubic-bezier(0.5,0,0.5,1);}
    
    .container4 .card h3 {
    user-select:none;
    font-weight:500;
    font-size:10px;
    width:200px;
    position:absolute;
    padding:10px;
    bottom:-20px;
    left:0;
    opacity:0;
    color:white;
    font-family:"Montserrat Alternates", serif;
    font-style:normal;
    text-shadow:2px 2px 2px rgba(0,0,0,0.4);
    transition:0.4s cubic-bezier(0.5,0,0.5,1) ,bottom 0.4s cubic-bezier(0.5,0,0.5,1);}
    
    .container4 .card.active {
    border-radius:20px;
    width:180px;}
    
    .container4 .card.active h2 {
    left:5px;
    bottom:15px; 
    opacity:1;}
    
    .container4 .card.active h3 {
    left:5px;
    bottom:0px; 
    opacity:1;}
