.container4S * {
font-family:"Prompt", serif;
font-weight:650;
font-style:normal;
transition:0.2s;}

.container4S {
background:#A3A3A3;
direction:rtl;
background:#ABFF70;
--primary:#A3A3A3;
--color:#ABFF70;}

.container4S.dark {
--search:rgba(255,255,255,0.05);
--secondary:white;
--background:#262626;
--shadow:rgba(255,255,255,0.3);
--text:rgba(255,255,255,0.3);}

.container4S.light {
--search:rgba(0,0,0,0.03);
--secondary:#262626;
--background:white;
--shadow:rgba(0,0,0,0.3);
--text:rgba(0,0,0,0.3);}

.container4S .side-navbar {
position:absolute;
width:100px;
height:680px;
transform:scale(0.85);
direction:rtl;
transition:all 0.2s, width 0.4s ease;
display:flex;
justify-content:center;
align-items:center;
overflow-x:auto;
overflow-y:auto;
pointer-events:none;}

.container4S .navbar-container {
position:absolute;
width:calc(100% - 50px);
height:calc(100% - 20px);
direction:ltr;
display:flex;
justify-content:center;
align-items:center;
border-radius:30px;
box-shadow:-3px 3px 6px rgba(0,0,0,0.3);
background:var(--background);}

.container4S .item-list {
position:absolute;
left:10px;
top:40px;
width:calc(100% - 20px);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:6px;
list-style:none;}

.container4S .item {
position:relative;
width:100%;
height:30px;
display:flex;
justify-content:center;
align-items:center;
transition:0.4s;
cursor:pointer;}

.container4S .item.N {
overflow:hidden;}

.container4S .item .icon {
position:absolute;
display:flex;
justify-content:center;
align-items:center;}

.container4S .item .icon {
position:absolute;
left:0;}

.container4S .item.active .icon {
filter:drop-shadow(-0.5px -0.5px 0.5px var(--shadow));}

.container4S .item .icon .fill {
fill:var(--shadow);}

.container4S .item .icon .stroke {
stroke:var(--shadow);}

.container4S .item .Text {
position:absolute;
left:40px;
color:var(--shadow);
font-size:0.55rem;}

.container4S .item.active .icon .fill {
fill:var(--color);}

.container4S .item.active .icon .stroke {
stroke:var(--color);}

.container4S .item.active .Text {
color:var(--color);
text-shadow:-0.5px -0.5px 1px var(--shadow);}

.container4S footer {
position:absolute;
left:10px;
bottom:70px;
width:calc(100% - 20px);
height:102px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition:0.4s;
gap:6px;}

.container4S footer .line {
position:absolute;
top:-6px;
left:0;
width:100%;
height:0.5px;
transition:0.4s;
opacity:0.5;
background:var(--shadow);}

.container4S .theme {
position:absolute;
bottom:10px;
left:10px;
width:calc(100% - 20px);
height:50px;
transition:0.4s;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;}

.container4S .theme-icon {
position:absolute;
left:-2.5px;
width:35px;
height:35px;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;}

.container4S .theme-icon img {
position:absolute;
width:22px;
height:22px;
object-fit:cover;
display:none;}

.container4S.light .Light {
display:flex;}

.container4S.light .Dark {
display:none;}

.container4S.dark .Light {
display:none;}

.container4S.dark .Dark {
display:flex;}

.container4S .theme .toggle {
position:absolute;
left:155px;
width:32px;
height:15px;
border-radius:7.5px;
display:flex;
justify-content:center;
align-items:center;
transition:0.3s;
cursor:pointer;
background:var(--shadow);}

.container4S .theme .background {
position:absolute;
left:0;
width:15px;
height:15px;
border-radius:7.5px;
display:flex;
justify-content:center;
align-items:center;
transition:0.3s;
background:var(--color);}

.container4S .theme .thumb {
position:absolute;
left:-7px;
width:25px;
height:25px;
border-radius:12.5px;
display:flex;
justify-content:center;
align-items:center;
transition:0.3s;
background:var(--secondary);
box-shadow:-2px 2px 4px rgba(0,0,0,0.3);}

.container4S .theme.active .background {
width:32px;}

.container4S .theme.active .thumb {
left:17px;}

.container4S .theme span {
position:absolute;
left:50px;
font-size:0.7rem;
color:var(--secondary);}

.container4S .logo {
overflow:hidden;
transform:translateY(-20px);}

.container4S .logo .Text {
font-size:0.8rem;
font-weight:600;
left:40px;
width:150px;
color:var(--primary);}

.container4S .logo svg {
position:absolute;
left:0;
transform:scale(0.9);
fill:var(--primary);}

.container4S .search {
transform:translateY(-10px);}

.container4S .search svg {
position:absolute;
left:0;
pointer-events:none;
stroke:var(--shadow);}

.container4S .input::placeholder {
position:absolute;
top:50%;
transform:translate(2px,-50%);
color:var(--shadow);
font-weight:400;
font-size:0.6rem;}

.container4S .input:focus::placeholder {
color:transparent;}

.container4S .input {
position:absolute;
left:0;
width:100%;
height:100%;
color:var(--shadow);
caret-color:var(--shadow);
pointer-events:none;
cursor:pointer;
background:var(--search);
transition:0.4s;
font-weight:400;
font-size:0.6rem;
border-radius:15px;
padding-left:30px;
border:none;
outline:1px solid var(--shadow);}

.container4S .mouse {
position:absolute;
width:20px;
height:20px;
bottom:300px;
right:-30px;
transition:0.5s;}

.container4S .cursor {
position:absolute;
width:20px;
height:20px;
border-radius:10px;
transition:0.3s;}

.container4S.dark .cursor {
box-shadow:0 1.5px 5px rgba(255,255,255,0.4);
border:1px solid rgba(255,255,255,0.2);
background:rgba(255,255,255,0.2);}

.container4S.light .cursor {
box-shadow:0 1.5px 5px rgba(0,0,0,0.4);
border:1px solid rgba(0,0,0,0.2);
background:rgba(0,0,0,0.2);}

.container4S .cursor.active {
animation:click 0.3s forwards;}

@keyframes click {
0%{transform:scale(1);}
50%{transform:scale(0.8);}
100%{transform:scale(1);}}
